.titre{
  background: repeating-conic-gradient(from 45deg,#ddd, grey);
  color: black;
  text-shadow: 1px 1px 2px white;
}

.wrap {
  position: relative;
  left: 150px; top: 80px;
  perspective: 800px;
  perspective-origin: 50% 100px;
}

.cube {
  position: relative;
  width: 100px;
  transform-style: preserve-3d;
}

.cube div {
  position: absolute;
  width: 100px;
  height: 100px;
}

.back {
  border:1px dotted black;
  background: grey;
  transform: translateZ(-50px) rotateY(180deg);
}
.right {
  border:1px dotted black;
  background: grey;
  transform: rotateY(-270deg) translateX(50px);
  transform-origin: top right;
}
.left {
  border:1px dotted black;
  background: grey;
  transform: rotateY(270deg) translateX(-50px);
  transform-origin: center left;
}
.top {
  border:1px dotted black;
  background: grey;
  transform: rotateX(-90deg) translateY(-50px);
  transform-origin: top center;
}
.bottom {
  border:1px dotted black;
  background: grey;
  transform: rotateX(90deg) translateY(50px);
  transform-origin: bottom center;
}
.front {
  border:1px dotted black;
  background: grey;
  transform: translateZ(50px);
}

@keyframes spin {
  from { transform: rotate3d(0); }
  to { transform: rotate3d(0, 1, 0.5, 6.2832rad);}
}

.cube {
  animation: spin 5s infinite linear;
}

body {
	background-color: #eee;
	display : table;
	width: 100%;
}

p {
	font: 16px "Open Sans", Calibri, sans-serif;
	text-align: center;
}

img{
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h1 {
  padding: 20px;
  font-weight: bold;
  font: 32px "Open Sans", Calibri, sans-serif;
  text-align: center;
}

h2 {
  font: 24px "Open Sans", Calibri, sans-serif;
  font-weight: bold;
}

details {
  padding: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font: 16px "Open Sans", Calibri, sans-serif;
  width: 620px;
}

details > summary {
  padding: 2px 6px;
  width: 15em;
  background-color: #ddd;
  border: none;
  box-shadow: 3px 3px 4px black;
  cursor: pointer;
}

details > h2 {
  background-color: #ddd;
  padding: 2px 6px;
  margin: 0;
}

details > ul {
  list-style: square inside;
  background-color: #ddd;
  padding: 2px 6px;
  margin: 0;
}

details > p {
  background-color: #ddd;
  padding: 2px 6px;
  margin: 0;
}

details > img {
  background-color: #ddd;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

footer {
	background: #ddd;
	text-align: center;
	display : table-row;
	height: 100px;
  text-shadow: 1px 1px 2px white;
}
